<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FilingHelper.Properties.AddinSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FilingHelper.AddinSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FilingHelper.Properties.AddinSettings>
            <setting name="EmailSignatureInternalNew" serializeAs="String">
                <value />
            </setting>
            <setting name="InternalDomainNames" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximumEmailSizeBytes" serializeAs="String">
                <value>9437184</value>
            </setting>
            <setting name="EmailSignatureInternalReply" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSignatureExternalNew" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSignatureExternalReply" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSignatureEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderHistoryMaxItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FolderHistoryPersistVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderHistoryAvoidVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailHistoryMaxItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AttachmentHelperAutoShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AttachmentHelperAutoHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AttachmentHelperMaxEmailSize" serializeAs="String">
                <value>9000000</value>
            </setting>
            <setting name="EmailSignatureReplyForwardPrefix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>FW:</string>
                        <string>RE:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MailHistoryAddMode" serializeAs="String">
                <value>ExplorerSelectionChange</value>
            </setting>
            <setting name="SuggestionMenuSender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuggestionMenuConversation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuggestionMenuHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderShowNextPrevButtons" serializeAs="String">
                <value>True</value>
            </setting>
        </FilingHelper.Properties.AddinSettings>
        <FilingHelper.AddinSettings>
            <setting name="EmailSignatureInternalName" serializeAs="String">
                <value/>
            </setting>
            <setting name="InternalDomainNames" serializeAs="String">
                <value/>
            </setting>
        </FilingHelper.AddinSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
